<!DOCTYPE html>
<html>
<body>

    <div class="yourVessels">
        <h2 class="text-center">My Vessels</h2>

        <!-- Copy from here down -->

        <div class="sink-div">
            <div class="sink-svg">
                <img src="./aircraftCarrier.svg" height="20" alt="My Aircraft Carrier">
                <p class="labels">USS Aircraft Carrier</p>
            </div>
            <div class="sink">
                <a class="btn btn-secondary btn-sm" id="sinkMyAircraftCarrier" data-horizontal="false">Sunk</a>
            </div>
        </div>

        <div class="sink-div">
            <div class="sink-svg">
                <img src="./battleship.svg" height="20" alt="My Battleship">
                <p class="labels">USS Battleship</p>
            </div>
            <div class="sink">
                <a class="btn btn-secondary btn-sm" id="sinkMyBattleship" data-horizontal="false">Sunk</a>
            </div>
        </div>

        <div class="sink-div">
            <div class="sink-svg">
                <img src="./cruiser.svg" height="20" alt="My Cruiser">
                <p class="labels">USS Cruiser</p>
            </div>
            <div class="sink">
                <a class="btn btn-secondary btn-sm" id="sinkMyCruiser" data-horizontal="false">Sunk</a>
            </div>
        </div>

        <div class="sink-div">
            <div class="sink-svg">
                <img src="./submarine.svg" height="20" alt="My Submarine">
                <p class="labels">USS Submarine</p>
            </div>
            <div class="sink">
                <a class="btn btn-secondary btn-sm" id="sinkMySubmarine" data-horizontal="false">Sunk</a>
            </div>
        </div>

        <div class="sink-div">
            <div class="sink-svg">
                <img src="./destroyer.svg" height="20" alt="My Destroyer">
                <p class="labels">USS Destroyer</p>
            </div>
            <div class="sink">
                <a class="btn btn-secondary btn-sm" id="sinkMyDestroyer" data-horizontal="false">Sunk</a>
            </div>
        </div>

        <!-- Copy above this -->

    </div>

</body>
</html>